@font-face {
  font-family: "Raleway";
  src: url("./assets/font/static/Raleway-Medium.ttf") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
  font-size: 1.5rem;
  text-align: center;
  background: #1b1523;
  color: #fff;
}
